@import 'tailwindcss';

@layer components {
  .btn {
    @apply bg-red-400 rounded m-2 px-4 py-2 hover:bg-red-500
  }
  .title {
    @apply text-gray-500 text-xl text-center hover:text-gray-800
  }
  .card {
    @apply bg-gray-200 rounded shadow 
  }
}